#
# Copied from Fedora and changed user to root.
#

[Unit]
Description=The Hadoop datanode daemon
After=network.target
After=NetworkManager.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/hadoop-hdfs
EnvironmentFile=-/etc/sysconfig/hadoop-datanode
ExecStart=/usr/sbin/hadoop-daemon.sh start datanode
ExecStop=/usr/sbin/hadoop-daemon.sh stop datanode
User=root
Group=hadoop
PIDFile=/var/run/hadoop-hdfs/hadoop-hdfs-datanode.pid
LimitNOFILE=32768
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
